# Entorno virtual
venv/
.venv/
venv3.11/
.venv3.11/
# Datos pesados
data/raw/*.zip
data/raw/ml-100k/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Datos locales
.local/
.vscode/